/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
    display: inline-block;
    border-collapse: collapse;
    font-size: 15px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell {	
    border: 1px solid #999999;
    display: table-cell;
    min-width: 50px;
    min-width: 50px;
}

.divTableCellTrue {	
    border: 1px solid #999999;
    display: table-cell;
    min-width: 50px;
    min-width: 50px;
    background-color: chocolate;
}

.divTableCellFalse {
    border: 1px solid #999999;
    display: table-cell;
    min-width: 50px;
    min-width: 50px;
    background-color: beige;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
    display: table-row-group;
    font-size: 0;
}

.input {
    max-width: 100px;
}

.fixedCell {
	border: 1px solid #999999;
    display: table-cell;
    /* table-layout: fixed; */
    min-width: 100px;
    max-width: 100px;
}

.links {
    text-align: center;
}


.choose_file {
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    background: white
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    width: 100%;
    height: 100%;
}